{% extends 'users/base.html' %} 
{% load static %}

{% block title %} <title>{{page}}</title> {% endblock title %}
{% block content %} 
<section class="__container section popup-section">

    <div class="balance">
        <div class="header">
            <div class="header__left">
                <p class="header__text">Добро подаловать!</p>
                <div class="name">{{ profile.first_name }} {{ profile.last_name  }}</div>
            </div>
            <div class="header__right">
                <a href="profile.html" class="avatar">
                    <img src="{{ profile.profile_image.url }}" alt="">
                </a>
            </div>  
        </div>

        <div class="card">
            <p class="count">{{balance}} ₽</p>
        </div>

        <div class="popup">
            <div class="popup__body">
                <div class="subtitle">История платежей:</div>



                <div class="transactions">

                    {% for transaction in transactions %}

                    <div class="transaction">
                        <img src="{% static 'images/balance/dollar.svg' %}" alt="">
                        <div class="transaction__info">

                            {% if transaction.is_deposit %}
                            <p class="transaction__title">Пополнение</p>
                            {% else %}
                            <p class="transaction__title">Списание</p>
                            {% endif %}

                            <p class="transaction__data">28 Nov 2021 • 12:01</p>
                        </div>
                        {% if transaction.is_deposit %}
                        <p class="transaction__price replenishment"> + {{transaction.amount|floatformat:"0"}}</p>
                        {% else %}
                        <p class="transaction__price write-off">- {{transaction.amount|floatformat:"0"}}</p>
                        {% endif %}                  
                    </div>

                    {% endfor %}

                </div>
            </div>
            {% include 'user-menu.html' %}

        </div>
    </div>
       
</section>




{% endblock content %}